<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>通知 - {$:#.org.org_platformname}</title>
<meta name="Keywords"  content="{$org.Org_Keywords}" />
<meta name="Description" content="{$org.Org_Description}" />
<link href="Styles/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="CoreScripts/jquery.js"></script>
<script type="text/javascript" src="CoreScripts/Extend.js"></script>
<script type="text/javascript" src="Scripts/AutoLoyout.js"></script>
<script type="text/javascript" src="Scripts/notice.js"></script>
<script type="text/javascript" src="Scripts/Public.js"></script>
<LINK rel="stylesheet" type="text/css" href="css/public.css">
<LINK rel="stylesheet" type="text/css" href="css/default.css">
<link href="Styles/notice.css" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include id="inc" file="inc/Header.html" />
<div loyout="row">
  <div loyout="column">
    <div class="boxContainer" loyout="row">
      <div loyout="row" height="35" class="top">
        <div loyout="column" width="10" class="topLeft"> </div>
        <div loyout="column" width="auto" class="topMiddle boxTitle"><span class="titIco">&gt;</span><span class="titText"> <a href="notices.ashx">通知公告</a></span> <span class="titIco">&gt;</span><span class="titText"> 正文</span></div>
        <div loyout="column" width="18" class="topRight"> </div>
      </div>
      <div loyout="row" class="body">
        <div loyout="column" width="10" class="bodyLeft"> </div>
        <div loyout="column" width="auto" class="bodyCenter"  overflow="auto">
          <div class="boxContext"> 
            <!--/*内容区域*/-->
            
            <div id="artBox">
              <div class="artTitle">{$notice.No_Ttl}</div>
              <div class="artAttrBar"> <span class="artTime">{$notice.no_StartTime  format="yyyy-M-dd hh:m:s"}</span></span> <!--<span class="artSharp">分享 </span>  --></div>
              
              <!--正文 -->
              <div id="artContext">{$notice.No_Context} </div>
              <div class="artNavi">
                <div class="artPrev"> 
                  <!--上一条新闻 -->
                  <vt:if var="prev.no_id" value="1" compare="<"> 上则通知：无
                    <vt:else />
                    上则通知：<a href="/notice.ashx?id={$prev.no_id}">{$prev.No_Ttl}</a> </vt:if>
                </div>
                <div class="artNext">
                  <vt:if var="next.no_id" value="1" compare="<"> 下则通知：无
                    <vt:else />
                    下则通知：<a href="/notice.ashx?id={$next.no_id}">{$next.No_Ttl}</a> </vt:if>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div loyout="column" width="18" class="bodyRight"> </div>
      </div>
      <div loyout="row" height="15" class="foot">
        <div loyout="column" width="10" class="footLeft"> </div>
        <div loyout="column" width="auto" class="footMiddle"> </div>
        <div loyout="column" width="18" class="footRight"> </div>
      </div>
    </div>
  </div>
</div>
<div id="Context">
  <div id="artArea">
    <div id="articleNavi"> <a href="/">首页</a> &gt; <a href="/notices.ashx">通知公告</a> &gt; 正文 </div>
    <div id="artBox">
      <div class="artTitle">{$notice.No_Ttl}</div>
      <div class="artAttrBar"> <span class="artTime">{$notice.no_StartTime  format="yyyy-M-dd hh:m:s"}</span></span> <!--<span class="artSharp">分享 </span>  --></div>
      
      <!--正文 -->
      <div id="artContext">{$notice.No_Context} </div>
    </div>
    <div class="artNavi">
      <div class="artPrev"> 
        <!--上一条新闻 -->
        <vt:if var="prev.no_id" value="1" compare="<"> 上则通知：无
          <vt:else />
          上则通知：<a href="/notice.ashx?id={$prev.no_id}">{$prev.No_Ttl}</a> </vt:if>
      </div>
      <div class="artNext">
        <vt:if var="next.no_id" value="1" compare="<"> 下则通知：无
          <vt:else />
          下则通知：<a href="/notice.ashx?id={$next.no_id}">{$next.No_Ttl}</a> </vt:if>
      </div>
    </div>
  </div>
</div>
<vt:include id="inc" file="inc/footer.html" />
</body>
</html>
