<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>{$org.org_platformname}</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords"  content="{$org.Org_Keywords}" />
<meta name="Description" content="{$org.Org_Description}" />
<LINK rel="stylesheet" type="text/css" href="styles/QuesKnl.css">
</head>
<body>
<div id="Context">
  <vt:if var="knl.kn_title" value="" compare="!=">
    <div class="title"> {$knl.kn_title} </div>
    <div class="details"> {$knl.kn_details} </div>
    <vt:else />
    <div class="noContext">当前试题没有相关联的学习的资料！ </div>
  </vt:if>
</div>
</body>
</html>
