@charset "utf-8";
body {
	background-color: #F7F7F7;
}
#Navi {
	height: 30px; margin-top: 0px; 
}
#Navi {
	color: #000000;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
}
#Navi span{
color:#F29E2A; line-height: 35px; font-family: "微软雅黑"; font-size: 16px; font-weight: bold;
}
#Navi a {
	color:#000000; line-height: 35px; font-family: "微软雅黑"; font-size: 16px; 
}
#teacherTop {
	width: 162px;
	height: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	border:1px solid #DDDDDD;
    float: left;
	background-color: #ffffff;
}
#teacherTop .photo {
	width: 124px;
	height: 157px;
	margin-top: 5px;
	margin-left: 13px;
	float: left;
}
#teacherTop .photo img {
	margin-top: 2px; margin-left: 2px;
}
#teacherTop .details {
	width: 162px;
	height: auto;
	margin-top: 0px;
	float: left;
}
#teacherTop .details .infoFirst {
	width: 162px; height: 64px; line-height: 35px;
}
.infoFirst .name {
	width: 124px; height: 35px; color: #000000; line-height: 35px; font-family: "微软雅黑"; font-size: 18px; font-weight: bold; text-align:center; margin-left:13px; border-bottom:1px solid #BBBBBB;
}
.infoFirst .title {
	width: 124px; height: 30px; line-height: 30px; font-size: 15px; margin-top: 0px;margin-left:13px;  text-align:center;
}
.details .intro {
	width: 124px;
	margin-left:13px;
	margin-bottom:13px;
	height: auto;
	line-height: 20px;
	font-size: 12px;
	color:#676767;
}
.teacherBox {
	width: 980px; margin-top: 20px; display: table;
}
.teacherBox .teacherLeft {
	width: 650px; float: right; display: table;
}
.teacherBox .teacherRight {
	width: 300px; float: right; min-height: 200px;
}
#history {
	margin: 0px 0px 20px; padding: 0px;
}
#history dt {
	border-style: none none solid; height: 40px; margin-bottom: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px;
}
#history .title {
	border-style: none none solid; width: 150px; height: 38px; text-align: center; line-height: 30px; font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed"; font-size: 22px; margin-top: 1px; border-bottom-color: rgb(66, 165, 255); border-bottom-width: 4px; float: left;
}
#history dd {
	margin: 0px; padding: 0px; width: 650px; height: 40px; line-height: 20px;
}
#history dd div {
	line-height: 40px; font-size: 14px;
}
#history .time {
	width: 180px; height: 40px; text-align: center; float: left;
}
#history .type {
	width: 60px; text-align: center; float: left;
}
#history .post {
	width: auto; float: left;
}
#history .post {
	width: 160px; text-align: left; float: right;
}
#history .theme {
	width: auto; float: left;
}
.courseBox {
	margin-bottom: 20px;
	min-height: auto;
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
	display:table;
	width:100%;
}
.courseBox .courseTitle {
	height: 25px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.courseBox .courseTitle .title {
	width: 150px;
	height: 25px;
	line-height: 25px;
	font-family: "微软雅黑";
	font-size: 20px;
	float: left;
	margin-left: 15px;
}
.courseItem {
	width: 200px; height: 250px; margin-right: 25px; float: left;
}
.courseBox .courses {
	width: 645px; overflow: hidden;
}
.courses .coursesInner {
	width: 800px;
}
.courseBox .noCourse {
	color: rgb(153, 153, 153);
}
.courseBox .info {
	color: #343434;
	margin: 15px;
	font-size: 15px;
	line-height: 28px;
}
.xgkecheng
{
	width: 780px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: -8px;
	display:table;
}
.xgkecheng-list
{
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}

.xgkecheng-list .promote-li
{
	width: 230px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	margin-left: 0px;
	background-color: #FFFFFF;
	border: #DDDDDD 1px solid;
	padding-bottom: 25px;
}
.xg-left
{
	float: left; font-size: 12px; color: #666666;
}
.xg-right
{
	float: right; font-size: 12px; color: #666666; padding-right: 5px;
}

.count
{
	padding-top: 0px; padding-left: 20px; background:url(../images/sl.gif)  0 6px no-repeat; margin-left:3px;

}

.jiaoshi
{
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 5px;
	line-height: 24px;
	color: #333;
	font-size: 12px;

}
.jiaoshi a
{
	color: #333333;
}
.jiaoshi a hover
{
	color: #333333;
}
.courseItem img {
	width: 200px; height: 123px;
}
.courseItem .courseName {
	height: 25px; line-height: 25px; overflow: hidden; white-space: nowrap;
}
.courseItem .courseName a {
	color: rgb(102, 102, 102); font-size: 15px;
}
.teacherRight .thlist dd {
	margin: 0px 0px 20px; width: 300px; height: 150px; background-color: rgb(240, 240, 240);
}
.thImg {
	background-position: center; width: 150px; height: 150px; margin-right: 10px; float: left;
}
.thRight {
	width: 130px; height: 150px; float: right;
}
.thRight .thTop {
	height: 30px; line-height: 20px; font-size: 15px; margin-top: 10px; margin-bottom: 10px;
}
.thRight .signature {
	width: 120px; color: rgb(153, 153, 153); line-height: 25px; font-size: 16px; margin-top: 20px;
}
.thTop .thName {
	width: auto; color: rgb(51, 51, 51); line-height: 25px; font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed"; font-size: 18px; margin-right: 5px; float: left;
}
.thTop .thName a {
	width: auto; color: rgb(51, 51, 51); line-height: 25px; font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed"; font-size: 18px; margin-right: 5px; float: left;
}
.thTop .thTitle {
	width: auto; font-size: 14px; margin-top: 5px; float: left;
}
