<!DOCTYPE html>
<head>
<title>{$:#.subject.sbj_name} ->
<vt:if var="search" value="" compare="!=">检索：{$:#.search}
  <vt:else />
  <vt:if var="course.cou_id" value="0" compare=">">{$:#.course.cou_name}
    <vt:else />
    课程选择</vt:if>
</vt:if>
</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=yes" />
<meta name="format-detection" content="email=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords"  content="{$org.Org_Keywords}" />
<meta name="Description" content="{$org.Org_Description}" />
<script type="text/javascript" src="CoreScripts/jquery.js"></script>
<script type="text/javascript" src="CoreScripts/Extend.js"></script>
<script type="text/javascript" src="Scripts/AutoLoyout.js"></script>
<script type="text/javascript" src="Scripts/Public.js"></script>
<script type="text/javascript" src="Scripts/Courses.js"></script>
<link href="Styles/Public.css?tick={$tick}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="Styles/iconfont.css"/>
<link href="Styles/Courses.css" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include id="inc" file="inc/Header.html" />
<div loyout="row"  class="context">
  <div class="contextbox">
    <!--搜索区域 -->
    <div id="searchBox">
      <div id="searchRow">
        <form name="form1" method="post" action="">
          <div class="textbox">
            <vt:if var="search" value="" compare="!=">
              <input name="search" type="text" id="search" value="{$:#.search}" default="请输入您要搜索的内容">
              <vt:else />
              <input name="search" type="text" id="search" default="请输入您要搜索的内容">
            </vt:if>
          </div>
          <div id="searctBtn">&#xe62f;</div>
        </form>
      </div>
      <div id="searchLine"> </div>
    </div>
    <!--专业列表 -->
    <vt:if var="courses.Length" value="0" compare=">">
      <vt:foreach id="course" from="$#.courses" item="data" remark="课程列表">
        <div class="row" href="courses.ashx?sbjid={$:#.data.sbj_id}&couid={$:#.data.cou_id}">
          <!--图标 -->
          <div class="sbjLogo">
            <vt:if var="#.data.cou_LogoSmall" value="" compare="="><span class="ico">&#xe601;</span>
              <vt:else />
              <img src="{$:#.data.cou_LogoSmall}"/></vt:if>
          </div>
          <!--标题 -->
          <div class="rowtxt">
            <div class="name"> {$:#.data.cou_name}</div>
            <div class="intro">{$:#.data.cou_intro}</div>
          </div>
          <!--右侧标识 -->
          <div class="rightbox">
            <div class="rightTop"> 课程 </div>
            <div class="rightDow">
              <vt:function var="dow" method="isChildren" args="$#.data.cou_id"/>
              <vt:if var="dow" value="0" compare="=">&#xe602;
                <vt:else />
                &#xe6c6;</vt:if>
            </div>
          </div>
        </div>
      </vt:foreach>
      <vt:else />
      <div class="noContext">没有满足条件的课程！</div> </vt:if>
  </div>
</div>
<vt:include id="inc" file="inc/footer.html" />
</body>
</html>