<!doctype html>
<head>
<title>学员信息编辑</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=yes" />
<meta name="format-detection" content="email=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords"  content="{$org.Org_Keywords}" />
<meta name="Description" content="{$org.Org_Description}" />
<link href="Styles/Public.css?tick={$tick}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="CoreScripts/jquery.js"></script>
<script type="text/javascript" src="CoreScripts/Extend.js"></script>
<script type="text/javascript" src="Scripts/AutoLoyout.js"></script>
<script type="text/javascript" src="CoreScripts/Verify.js"></script>
<script type="text/javascript" src="Scripts/Public.js"></script>
<script type="text/javascript" src="Scripts/SelfEdit.js"></script>
<link href="Styles/SelfEdit.css" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include id="inc" file="inc/Header.html" />
<div loyout="row"  class="context">
  <div class="contextbox">
    <div class="infoBox">
      <form id="student" name="student" method="post">
        <vt:if var="Student.st_id" value="0" compare=">">
          <div class="infoRow">
            <div class="RowRight">账&nbsp;&nbsp;号：</div>
            <div class="RowLeft"> {$:#.Student.st_accname} </div>
          </div>
          <div class="infoRow">
            <div class="RowRight">姓名：</div>
            <div class="RowLeft">
              <input name="tbName" value="{$Student.st_name}" type="text"  class="textbox width" nullable="false"  group="login" />
            </div>
          </div>
          <div class="infoRow">
            <div class="RowRight">性别：</div>
            <div class="RowLeft">
              <input name="tbSex" type="hidden" value="{$Student.st_sex}" />
              <span class="btnSex" type="0">未知</span> <span class="btnSex" type="1">男</span> <span class="btnSex" type="2">女</span> </div>
          </div>
          <div class="infoRow">
            <div class="RowRight">安全问题：</div>
            <div class="RowLeft">
              <input name="tbQus" value="{$Student.St_Qus}" type="text"  class="textbox width" nullable="false"  group="login" />
            </div>
          </div>
          <div class="infoRow">
            <div class="RowRight">答案：</div>
            <div class="RowLeft">
              <input name="tbAnwser" value="{$Student.St_Anwser}" type="text"  class="textbox width" nullable="false"  group="login" />
            </div>
          </div>
          <div class="infoRow"></div>
          <div class="infoRow btnbar">  <input type="submit" name="btnSubmit" id="btnSubmit" value="确&nbsp;&nbsp;定"  verify="true"  group="login" class="btnEdit"/> <a href="selfInfo.ashx" class="btnChangePw">返&nbsp;&nbsp;回</a></div>
          <div class="infoRow"> <a href="/Student/logout.ashx" class="btnLogout">退出登录</a></div>
          <vt:else/>
          未登录 </vt:if>
      </form>
    </div>
  </div>
</div>
<vt:include id="inc" file="inc/footer.html" />
</body>
</html>
