<!DOCTYPE html>
<head>
<title>联系客服</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=yes" />
<meta name="format-detection" content="email=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords"  content="{$org.Org_Keywords}" />
<meta name="Description" content="{$org.Org_Description}" />
<script type="text/javascript" src="CoreScripts/jquery.js"></script>
<script type="text/javascript" src="CoreScripts/Extend.js"></script>
<script type="text/javascript" src="Scripts/AutoLoyout.js"></script>
<script type="text/javascript" src="Scripts/Public.js"></script>
<script type="text/javascript" src="Scripts/Service.js"></script>
<link href="Styles/Public.css?tick={$tick}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="Styles/iconfont.css"/>
<link rel="stylesheet" href="Styles/Service.css">
</head>
<body>
<vt:include id="inc" file="inc/Header.html" />
<div loyout="row"  class="context">
  <div class="contextbox">{$org.Org_Intro}</div>
  
</div>
<vt:include id="inc" file="inc/footer.html" />
</body>
</html>