<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="Platform" type="WeiSha.Common.PlatformInfoHandler,WeiSha.Common"/>
		<section name="KindEditor" type="WeiSha.WebEditor.ConfigHandler,WeiSha.WebEditor"/>
		<section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections>
	<!--数据库链接，以下是设置说明：
    name:当前系统的域名，此处为主域（用于生成二维码，与数据库没有关系）; 
    connectionString：Data Source=（数据库服务IP地址）; Initial Catalog=(数据库名称); User ID=(数据库账号);password=(密码);    
    -->
	<connectionStrings>
		<add name="weisha100.cn" connectionString="Data Source=192.168.1.212;Initial Catalog=examweisha;User ID=sa;password=sa;" providerName="WeiSha.Data.SqlServer9.SqlServer9Provider"/>
		<!--<add name="zzsite.net" 
         connectionString="Data Source=122.114.102.187;Initial Catalog=zzsite;User ID=sa;password=weisha123;" 
         providerName="WeiSha.Data.SqlServer9.SqlServer9Provider" />-->
	</connectionStrings>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<description>适用于Sql2005数据库</description>
			<object id="IManageMenu" type="Song.ServiceImpls.ManageMenuCom,Song.ServiceImpls"></object>
			<object id="IOrganization" type="Song.ServiceImpls.OrganizationCom,Song.ServiceImpls"></object>
			<object id="IStudent" type="Song.ServiceImpls.StudentCom,Song.ServiceImpls"></object>
			<object id="ITeacher" type="Song.ServiceImpls.TeacherCom,Song.ServiceImpls"></object>
			<object id="IAddressList" type="Song.ServiceImpls.AddressListCom,Song.ServiceImpls"></object>
			<object id="IDailyLog" type="Song.ServiceImpls.DailyLogCom,Song.ServiceImpls"></object>
			<object id="ITask" type="Song.ServiceImpls.TaskCom,Song.ServiceImpls"></object>
			<object id="IDepart" type="Song.ServiceImpls.DepartCom,Song.ServiceImpls"></object>
			<object id="IPosition" type="Song.ServiceImpls.PositionCom,Song.ServiceImpls"></object>
			<object id="IPayInterface" type="Song.ServiceImpls.PayInterfaceCom,Song.ServiceImpls"></object>
			<object id="IGuide" type="Song.ServiceImpls.GuideCom,Song.ServiceImpls"></object>
			<object id="IEmpGroup" type="Song.ServiceImpls.EmpGroupCom,Song.ServiceImpls"></object>
			<object id="IPurview" type="Song.ServiceImpls.PurviewCom,Song.ServiceImpls"></object>
			<object id="IEmployee" type="Song.ServiceImpls.EmployeeCom,Song.ServiceImpls"></object>
			<object id="IMobileUser" type="Song.ServiceImpls.MobileUserCom,Song.ServiceImpls"></object>
			<object id="ILogs" type="Song.ServiceImpls.LogsCom,Song.ServiceImpls"></object>
			<object id="IMessage" type="Song.ServiceImpls.MessageCom,Song.ServiceImpls"></object>
			<object id="IColumns" type="Song.ServiceImpls.ColumnsCom,Song.ServiceImpls"></object>
			<object id="IContents" type="Song.ServiceImpls.ContentsCom,Song.ServiceImpls"></object>
			<object id="ICourse" type="Song.ServiceImpls.CourseCom,Song.ServiceImpls"></object>
			<object id="IOutline" type="Song.ServiceImpls.OutlineCom,Song.ServiceImpls"></object>
			<object id="IUser" type="Song.ServiceImpls.UserCom,Song.ServiceImpls"></object>
			<object id="IAccessory" type="Song.ServiceImpls.AccessoryCom,Song.ServiceImpls"></object>
			<object id="IProduct" type="Song.ServiceImpls.ProductCom,Song.ServiceImpls"></object>
			<object id="ILinks" type="Song.ServiceImpls.LinksCom,Song.ServiceImpls"></object>
			<object id="IVote" type="Song.ServiceImpls.VoteCom,Song.ServiceImpls"></object>
			<object id="IMessageBoard" type="Song.ServiceImpls.MessageBoardCom,Song.ServiceImpls"></object>
			<object id="INotice" type="Song.ServiceImpls.NoticeCom,Song.ServiceImpls"></object>
			<object id="ISystemPara" type="Song.ServiceImpls.SystemParaCom,Song.ServiceImpls"></object>
			<object id="ISMS" type="Song.ServiceImpls.SMSCom,Song.ServiceImpls"></object>
			<object id="IInternalLink" type="Song.ServiceImpls.InternalLinkCom,Song.ServiceImpls"></object>
			<object id="INavigation" type="Song.ServiceImpls.NavigationCom,Song.ServiceImpls"></object>
			<object id="ISubject" type="Song.ServiceImpls.SubjectCom,Song.ServiceImpls"></object>
			<object id="ITeam" type="Song.ServiceImpls.TeamCom,Song.ServiceImpls"></object>
			<object id="IKnowledge" type="Song.ServiceImpls.KnowledgeCom,Song.ServiceImpls"></object>
			<object id="IQuestions" type="Song.ServiceImpls.QuestionsCom,Song.ServiceImpls"></object>
			<object id="ITestPaper" type="Song.ServiceImpls.TestPaperCom,Song.ServiceImpls"></object>
			<object id="ITemplate" type="Song.ServiceImpls.TemplateCom,Song.ServiceImpls"></object>
			<object id="IExamination" type="Song.ServiceImpls.ExaminationCom,Song.ServiceImpls"></object>
			<object id="ITrPlan" type="Song.ServiceImpls.TrPlanCom,Song.ServiceImpls"></object>
			<object id="ILimitDomain" type="Song.ServiceImpls.LimitDomainCom,Song.ServiceImpls"></object>
		</objects>
	</spring>
	<!--站点的配置信息-->
	<Platform name="study" version="1.0">
		<!--应用程序的参数-->
		<App>
			<!--系统循环执行的间隔时间，不建议改动-->
			<item key="CycleTimeSpan" value="1000"/>
			<!--不受权限控制的页面-->
			<item key="noPurviewPage" value="index.aspx,default.aspx,welcome.aspx"/>
			<!--不受权限控制的模块-->
			<item key="noPurviewModule" value="Personal,Panel"/>
			<!--应用程序状态，如果Debug，帮助信息可编辑-->
			<item key="AppState" value="Debug"/>
			<!--百度地图API的密钥-->
			<item key="BaiduLBS" value="MBUg6BlQ9sowj5824cX1IKIG"/>
			<!--微信公众平台相关-->
			<item key="WeixinToken" value=""/>
			<item key="WeixinUrl" value="http://{url}/manage/weixinapi/{token}"/>
			<!--题型-->
			<item key="QuesType" value="单选, 多选, 判断, 简答, 填空"/>
			<!--Excel导入时，记录列名与字段名对应关系的文件的存放路径-->
			<item key="ExcelInputConfig" value="~/Manage/DataTemplate/Config"/>
			<!--视频转换工具文件夹-->
			<item key="ffmpeg" value="~/bin/ffmpeg/ffmpeg.exe"/>
			<item key="mencoder" value="~/bin/MPlayer/mencoder.exe"/>
			<item key="widthSize" value="800"/>
			<item key="heightSize" value="450"/>
		</App>
		<Entity>
			<item key="Student" value="学员" visible="true"/>
			<item key="Teacher" value="教师"/>
			<item key="Subject" value="专业"/>
			<item key="Course" value="课程"/>
			<item key="Questions" value="试题"/>
			<item key="TestPaper" value="试卷"/>
			<item key="Article" value="资讯"/>
			<item key="Knowledge" value="知识"/>
			<item key="Notice" value="通知"/>
		</Entity>
		<Login>
			<item key="Admin">
				<!--后台管理登录的状态管理方式，可选择Cookies或Session-->
				<item key="Pattern" value="Cookies"/>
				<!--Cookies或Session的名称-->
				<item key="KeyName" value="ExamAcc"/>
				<!--登录的时效，单位是分钟-->
				<item key="Expires" value="999"/>
				<!--导入信息时的默认登录密码-->
				<item key="DefaultPw" value="123456"/>
				<!--如果没有登录，或登录失效，应该跳转的页面-->
				<item key="NoLoginPath" value="~/Admin/index.ashx"/>
			</item>
			<item key="Student">
				<item key="Pattern" value="Cookies"/>
				<item key="KeyName" value="Student"/>
				<item key="Expires" value="auto"/>
				<item key="DefaultPw" value="123456"/>
				<item key="Token" value="auto"/>
				<item key="NoLoginPath" value="~/Student/index.ashx"/>
			</item>
			<item key="Teacher">
				<item key="Pattern" value="Cookies"/>
				<item key="KeyName" value="Teacher"/>
				<item key="Expires" value="auto"/>
				<item key="DefaultPw" value="123456"/>
				<item key="NoLoginPath" value="~/Teacher/index.ashx"/>
			</item>
		</Login>
		<!--短信发送接口；默认启用第一个-->
		<SMS>
			<item user="hnjlzlzh" pw="" type="WeiSha.SMS.Object.HenanTengxin,Song.SMS" remarks="河南腾信"/>
			<item user="zzwy" pw="" type="WeiSha.SMS.Object.DuanXinWang,Song.SMS" remarks="短信王"/>
		</SMS>
		<Template path="~/Templates/">
			<item key="Web" value="Web" default="Hongtu"/>
			<item key="Mobile" value="Mobi" default="Default"/>
		</Template>
		<!--资料上传的路径，path为根目录，子节点为各模块上传目录（相对于path参数）-->
		<Upload path="~/Upload/">
			<item key="Employee" value="employee"/>
			<item key="Student" value="Student"/>
			<item key="Teacher" value="Teacher"/>
			<item key="Course" value="Course"/>
			<item key="CourseVideo" value="Course/Video"/>
			<item key="TestPaper" value="TestPaper"/>
			<item key="Vote" value="vote"/>
			<item key="Product" value="Product"/>
			<item key="Picture" value="Picture"/>
			<item key="Org" value="Org"/>
			<item key="News" value="news"/>
			<item key="Links" value="Links"/>
			<item key="Download" value="Download"/>
			<item key="Video" value="Video"/>
			<item key="Special" value="Special"/>
			<item key="Subject" value="Subject"/>
			<item key="Knowledge" value="Knowledge"/>
			<item key="Exam" value="Exam"/>
			<item key="Temp" value="Temp"/>
		</Upload>
	</Platform>
	<RewriterConfig>
		<Rules>
			<!--<RewriterRule>
        <LookFor>~/</LookFor>
        <SendTo>~/default.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/mobile/</LookFor>
        <SendTo>~/mobile/default.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/([a-z]+)(\d{0,}).htm</LookFor>
        <SendTo>~/$1.ashx?id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/([a-z]+)_(\d{0,}).htm</LookFor>
        <SendTo>~/$1.ashx?index=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/([a-z]+)/([a-z]+).htm</LookFor>
        <SendTo>~/$1/$2.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/([a-z]+)/([a-z]+)_(\d+).htm</LookFor>
        <SendTo>~/$1/$2.ashx?index=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/([a-z]+)/([a-z]+)(\d+).htm</LookFor>
        <SendTo>~/$1/$2.ashx?id=$3</SendTo>
      </RewriterRule>-->
		</Rules>
	</RewriterConfig>
	<KindEditor>
		<item key="UploadPath" value="~/Upload/KindFiles/"/>
		<item key="BasePath" value="~/Manage/Utility/KindEditor/"/>
		<item key="Theme:full" value="'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',           'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',           'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',           'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',           'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',           'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',           'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',           'anchor', 'link', 'unlink', '|', 'about'"/>
		<item key="Theme:simple" value="'source','|','fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',           'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',           'insertunorderedlist', '|', 'image','flash', 'media', 'link','jme', '|', 'undo', 'redo'"/>
		<item key="Theme:mini" value="'forecolor','bold', 'italic', 'underline',           'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',           'insertunorderedlist', '|', 'undo', 'redo'"/>
	</KindEditor>
	<appSettings></appSettings>
	<system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpRuntime requestValidationMode="2.0"/>
		<httpHandlers>
			<!--<add path="/Upload/Download/*.*" verb="*" type="Song.Site.Manage.Content.LoadNumber, Song.Site"/>-->
			<!--<add path="*.html" verb="GET" type="Song.Site.Manage.Site.FlowNumber, Song.Site"/>-->
			<!--<add path="/default.htm" verb="GET" type="Song.Site.Mobile.GoMobile, Song.Site"/>-->
			<add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
			<!--<add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />-->
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<sessionState timeout="10" mode="InProc"></sessionState>
		<webServices>
			<protocols>
				<add name="HttpSoap12"/>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。   -->
		<customErrors mode="Off" defaultRedirect="ErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="Notfound.htm"/>
		</customErrors>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/><add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="ScriptModule"/><add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler>
				<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="OptionInfer" value="true"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding></runtime></configuration>
