@charset "utf-8";
.allExamTitle {
	font-size: 22px;
	line-height: 35px;
	font-weight: bold;
	height: 35px;
	font-family: "黑体";
	margin-top: 20px;
	color: #FF0000;
}

dl, dd {
	margin: 0px;
	padding: 0px;
}
dl.list {
	margin-bottom: 20px;
}
.onContext{
	font-size: 25px;
	line-height: 150px;
	text-align: center;
	height: 150px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "黑体", "微软雅黑";
	color: #FF0000;
}
.themeItem {
	margin-bottom: 40px;
}
.themeItem .titleBar {
	line-height: 40px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.themeItem .titleBar .tax {
	line-height: 20px;
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	text-align: center;
	color: #FFFFFF;
	background-color: #666666;
	margin-top: 10px;
}
.themeItem .titleBar .tax img {
}
.themeItem .titleBar .title {
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
}
.themeItem .intro, .themeItem .intro * {
	font-size: 14px;
	line-height: 25px;
	margin-left: 10px;
	text-indent: 0px;
}

.themeItem .group {
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	height: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}
.themeItem .examList {

}
#myExam /*我的考试*/
 .tit {
	width: 300px;
}
#myExam .name {
	width: 200px;
}
#myExam .subject {
	width: 100px;
}
#myExam .total {
	width: 60px;
}
#myExam .date {
	width: 120px;
}
#myExam .span {
	width: 80px;
}
#myExam .btn {
	width: 110px;	
}
#myExam .btn .button {
	font-size: 13px;
	line-height: 20px;
	color: #FF0000;
	background-color: #FFFFCC;
	text-align: center;
	height: 20px;
	width: 90px;
	margin-top: 3px;
	border: 1px solid #FF9900;
	margin-left: 10px;
	display: block;
	cursor:pointer;
}
#myExam .btn .button:hover{
	background-color: #FFCC99;
}

/*
考试场次的界面处理
*/
.themeItem .itemBar {
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #FF0000;
	margin-left: 40px;
	display: none;
}
.itemHeader {
	line-height: 25px;
	height: 25px;
	background-color:#069;
	width: 100%;
}
.itemHeader div{
	float: left;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
	height: 25px;
	white-space: nowrap;
	overflow: hidden;
}
.itemRow {
	line-height: 30px;
	height: 30px;
	width: 100%;
}
.itemRow:hover{
	background-color:#09C;
}
.itemRow div{
	float: left;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#allExam .name {
	width: 300px;
}
#allExam .subject {
	width: 200px;
}
#allExam .total {
	width: 80px;
}
#allExam .date {
	width: 160px;
}
#allExam .span {
	width: 80px;
}
#allExam .btn .button {
	font-size: 13px;
	line-height: 20px;
	color: #FF0000;
	background-color: #FFFFCC;
	text-align: center;
	height: 20px;
	width: 100px;
	margin-top: 3px;
	border: 1px solid #FF9900;
	margin-right: 20px;
	margin-left: 40px;
	display: block;
	cursor:pointer;
}
#allExam .btn .button:hover{
	background-color: #FFCC99;
}
