<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$knl.kn_title} - {$org.org_platformname}</title>
<meta name="Keywords"  content="{$org.Org_Keywords}" />
<meta name="Description" content="{$org.Org_Description}" />
<script type="text/javascript" src="CoreScripts/jquery.js"></script>
<script type="text/javascript" src="CoreScripts/Extend.js"></script>
<link href="Styles/public.css" rel="stylesheet" type="text/css" />
<link href="Styles/Knowledge.css" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include id="inc" file="inc/Header.html" />
<vt:include id="inc" file="inc/Depart.html" />
<div id="bodyTop">&nbsp;</div>
<div id="Context">
<div class="title"> {$knl.kn_title} </div>
<div class="details"> {$knl.kn_details} </div>
</div>
<vt:include id="inc" file="inc/footer.html" />
</body>
</html>
