<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>错误！ - {$:#.org.org_platformname}</title>
<meta name="Keywords"  content="{$org.Org_Keywords}" />
<meta name="Description" content="{$org.Org_Description}" />
<link href="Styles/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="CoreScripts/jquery.js"></script>
<script type="text/javascript" src="CoreScripts/Extend.js"></script>
<script type="text/javascript" src="Scripts/ErrorPage.js"></script>
<script type="text/javascript" src="Scripts/Public.js"></script>
<link href="Styles/ErrorPage.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<vt:include id="inc" file="inc/Header.html" />
<div id="Context">
<div id="errorBox">当前页面出现不可预知的异常，请与管理员联系!</div>
</div>
<vt:include id="inc" file="inc/footer.html" />
</body>
</html>
